<div class="container-fluid teaser w-100 ">
	<div class="row g-0 row-cols-lg-2" style="gap: 1%">
		<div class="col teaser-content">
			<a href="#">
				<div class="layer w-100" style="background-image: url('<%= teasers[0].image %>');"></div>
				<div class="box dark_blue w-50">
					<div class="teaser-text box p-4 pt-5 pb-5 text-wrap text-white">
						<div class="teaser-title  fs-2 mb-3"><%= teasers[0].title %></div>
						<div class="teaser-description fs-5"><%= teasers[0].description %></div>
						<div class="teaser-redict fs-5 mt-4"><%= teasers[0].redict_text %><%- include('link_animation.ejs') %></div>
					</div>
				</div>
				
			</a>
		</div>
		<div class="col teaser-content">
			<a href="#">
				<div class="layer w-100" style="background-image: url('<%= teasers[0].image %>');"></div>
				<div class="box dark_blue w-50">
					<div class="teaser-text box p-4 pt-5 pb-5 text-wrap text-white">
						<div class="teaser-title fs-3 mb-3"><%= teasers[1].title %></div>
						<div class="teaser-description fs-5"><%= teasers[1].description %></div>
						<div class="teaser-redict fs-5 mt-4"><%= teasers[1].redict_text %><%- include('link_animation.ejs') %></div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
