<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>

	<%- include('../elements/carousel') %>

	<%- include('../elements/product') %>

	<%- include('../elements/sense_the_world') %>
	
	<%- include('../elements/footer') %>

	<%- include('../elements/script') %>
</body>

</html>
