<%- include('blog_navbar') %>

<div class="post-detail">
	<div class="datetime-reading-detail">
		<a href="#"><img class="logo" src="https://lh3.googleusercontent.com/a-/AOh14GgV8AVRY0eTlgf2Qs2B61cI10cwEMhMlCGbEgocQw=s96-c" height="30px">LIPS</a>
		<span class="date"><%= post.time_upload %></span>
		<!-- time_upload_time -->
		<span class="reading">2 min read</span>
		<button id="share"><i class="fa-solid fa-ellipsis-vertical"></i></button>
	</div>
	<div class="content">
		<h3 class="title"><%= post.title %></h3>
		<span class="updated">Updated:&nbsp;<%= post.time_update %></span>
		<div class="post-content">
			<div id="post-content"></div>
			<li class="line-top"></li>
			<button id="facebook"><i class="fa-brands fa-facebook-f fa-lg"></i></button>
			<button id="twitter"><i class="fa-brands fa-twitter fa-lg"></i></button>
			<button id="linked"><i class="fa-brands fa-linkedin-in fa-lg"></i></button>
			<button id="sharelink"><i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i></button>
			<li class="line-bottom"></li>
			<div class="interact-post">
				<span><%= post.views %> views</span>
				<span><%= post.comment.length %> comments</span>
				<button id="love"><i class="fa-regular fa-heart fa-lg"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="recent-posts">
	<h4>Recent Posts</h4>
	<a class="see-all" href="/blog"><span>See all</span></a>
	<div class="clr"></div>
	<div class="recent-post-wrapper">
		<% for(let i = 0; i < 3; i++) { %>
		<% let e = posts[i]; %>
		<div class="recent-post-box">
			<div class="post-img-wrapper">
				<a href="/blog/<%= e.slug %>">
					<img class="img-post" src="<%= e.picture %>">
					<h4><%= e.title %></h4>
				</a>
				<li class="line"></li>
			</div>
			<button id="eye"><i class="fa-regular fa-eye fa-lg"></i>&nbsp;<%= e.views %></button>
			<a href="/blog/<%= e.slug %>"><button id="comment"><i class="fa-regular fa-comment fa-lg"></i>&nbsp;<%= e.comment.length %></button></a>
			<button id="love"><i class="fa-regular fa-heart fa-lg"></i></button>
		</div>
		<% } %>
	</div>
	
</div>
<div class="comments-wrapper">
	<div class="comments-content">
		<span>Comments</span>
		<li class="line"></li>
		<form action="#" method="post" id="write-comment">
			<div class="row">
				<input type="text" value="Write a comment..." />
			</div>
		</form>
	</div>
</div>
<script src="/ckeditor.js"></script>
<script>
	ClassicEditor
		.create(document.querySelector('#post-content'))
		.then(editor => {
			const toolbarElement = editor.ui.view.toolbar.element;
			editor.setData('<%- post.content %>');
			editor.enableReadOnlyMode("#post-content");
			toolbarElement.style.display = 'none';
		})
		.catch(err => {
			console.error(err.stack);
		});
</script>
