<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>
	
	<%- include('../elements/teaser') %>
	
	<%- include('../elements/products') %>
	
	<%- include('../elements/services.ejs') %>
	
	<%- include('../elements/stories') %>
	
	<%- include('../elements/job_offer') %>
	
	<%- include('../elements/news_events') %>
	
	<%- include('../elements/footer') %>

	<%- include('../elements/script') %>
</body>

</html>
