<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>

	<%- include('../elements/application_area/carousel') %>
	
	<%- include('../elements/application_area/body') %>
	
	<%- include('../elements/footer') %>

	<%- include('../elements/script') %>
</body>

</html>
