<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>

	<%- include('../elements/home/carousel') %>
	
	<%- include('../elements/home/teaser') %>
	
	<%- include('../elements/home/products') %>
	
	<%- include('../elements/home/services.ejs') %>
	
	<%- include('../elements/home/stories') %>
	
	<%- include('../elements/home/job_offer') %>
	
	<%- include('../elements/home/news_events') %>
	
	<%- include('../elements/footer') %>

	<%- include('../elements/script') %>
</body>

</html>
