<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>

	<%- include('../elements/product/carousel') %>
	
	<%- include('../elements/product/softwares') %>
	
	<%- include('../elements/footer') %>

	<%- include('../elements/script') %>
</body>

</html>
