<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>

	<%- include('../elements/technology/carousel') %>
	
	<%- include('../elements/technology/body') %>
	
	<%- include('../elements/footer') %>

	<%- include('../elements/script') %>
</body>

</html>
