<%- include('../elements/header') %>
<body>
    <div class="wrapper">
        <%- include('../elements/left') %>
        <div class="main">
            <%- include('../elements/navbar') %>
            <%- include('../elements/body') %>
            <%- include('../elements/footer') %>
        </div>
    </div>
</body>
</html>
