<div class="product">
    <div class="container-fluid">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">New products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Featured products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Discount products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hot sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Free ship in Vietnam</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span>View more</span><i class="bi bi-chevron-right"></i></a>
            </li>
        </ul>
        <div class="product-list">
            <div class="all-product row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <% for( let index = 0; index < 5; index++ ) { %>
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <img src="<%= newProducts[0].image %>" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title fs-6"><%= newProducts[0].title %></h5>
                              <p class="card-text price"><%= newProducts[0].price %><span>/<%= newProducts[0].unit%></span></p>
                              <div class="stock fs-6 p-1 mb-1 bg-success-subtle text-success"><span><i class="bi bi-check"></i> In stock: <%= newProducts[0].stock %></span></div>
                            </div>
                          </div>
                    </div>        
                <% } %>
            </div>
            <% typeProducts.forEach(product => { %>
                <div class="tab-box">
                    <h3><a href=""><%= product.name %></a></h3>
                    <ul class="nav">
                        <% product.details.forEach(detail => { %>
                            <li class="nav-item"><a href=""><%= detail %></a></li>
                        <% }); %>
                        <li class="nav-item view-more"><a href=""><span>View more</span><i class="bi bi-chevron-right"></i></a></li>
                    </ul>
                </div>
                <div class="products row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                    <% product.products.forEach(item => { %>
                        <% for(let i = 0; i < 5; i++) { %>
                            <div class="col-md-4 col-sm-12 ">
                                <div class="card">
                                    <img src="<%= item.image %>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title fs-6"><%= item.title %></h5>
                                      <p class="card-text price"><%= item.price %><span>/<%= item.unit%></span></p>
                                      <div class="stock fs-6 p-1 mb-1 bg-success-subtle text-success"><span><i class="bi bi-check"></i>
                                         In stock: <%= item.stock %></span></div>
                                    </div>
                                  </div>
                            </div>        
                        <% } %>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </div>
</div>