<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>
	<%- include('../elements/slide') %>
	<%- include('../elements/solution') %>
	<%- include('../elements/product') %>
	<%- include('../elements/script') %>
</body>

</html>
