<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>
	<%- include('../elements/slide') %>
	<%- include('../elements/services') %>
	<%- include('../elements/product') %>
	<%- include('../elements/archive') %>
	<%- include('../elements/partner') %>
	<%- include('../elements/highLightBlog') %>
	<%- include('../elements/footer') %>
	<%- include('../elements/script') %>
</body>

</html>
